<h1>Movie Lists</h1>

<% @lists.each do |list| %>
  <div class="cards">
    <div class="card-category my-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url('<%= cl_image_path list.photo.key, height: 200, width: 200, crop: :fill %>')">
      <%= link_to list.name, list_path(list) %>

      <%= link_to "Delete", list_path(list), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger mx-3" %>
    </div>
  </div>
<% end %>
